<!-- <button (click)="loadGraph()">loadGraph</button>
<div *ngIf="chart" style="width: 400px; height: 400px;">
  <canvas id="canvas" width="400" height="400">{{ chart }}</canvas>
</div> -->

<!-- <div fxLayout="column">
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="start start" style="height: 100px;background: rgb(66, 61, 61)"></div>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="50" style="height: 100px;background: rgb(226, 124, 124)"></div>
    <div fxFlex="50" style="height: 100px;background: rgb(116, 221, 116)"></div>
  </div>
</div> -->

<!-- <div *ngIf="sectionsObject" fxLayout="column" fxFill>
  <div *ngFor="let item of sectionsObject | keyvalue">
    <div fxLayout="row" fxLayoutAlign="space-between start start">
      <ng-container *ngFor="let child of item.value">
        <div [style.background]="child.bgColor" [style.height.px]="child.Level_Height" [fxFlex]="child.Section_Width" class="sections-container">
          <app-map-section [sectionInfo]="child"></app-map-section>
        </div>
      </ng-container>
    </div>
  </div>
</div> -->

<!-- section start -->
<!-- <app-sections [sectionsList]="sectionsList"></app-sections> -->
<!-- section end -->
<button mat-raised-button color='primary' style="margin: 5px" (click)='loadGrid()'>Load Grid</button>
<mat-form-field>
  <mat-select placeholder="Favorite food">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<ag-grid-angular *ngIf="gridLoaded" #agGrid style="width: 100%; height: 350px;" id="myGrid" class="ag-theme-material" [columnDefs]="columnDefs"
  [groupSelectsChildren]="true" [groupDefaultExpanded]="groupDefaultExpanded" [autoGroupColumnDef]="autoGroupColumnDef"
  [defaultColDef]="defaultColDef" [rowData]="rowData" [rowSelection]="rowSelection" (gridReady)="onGridReady($event)"></ag-grid-angular>

<!-- 
<div fxLayout='column' style="background: rgb(0, 0, 0); height: 100px;">
  <div fxFlex="100%" style="background: rgb(128, 51, 51); height: 100px;">
    <div fxFlex="100%" style="background: rgb(34, 95, 34); height: 100px;"></div>
    <div fxFlex="50%" style="background: rgb(19, 236, 19); height: 100px;"></div>
  </div>
</div> -->